<div style="display: none;"> <img src="__STATIC__/game/img/pai/1.png">
<img src="__STATIC__/game/img/pai/2.png">
<img src="__STATIC__/game/img/pai/3.png">
<img src="__STATIC__/game/img/pai/4.png">
<img src="__STATIC__/game/img/pai/5.png">
<img src="__STATIC__/game/img/pai/6.png">
<img src="__STATIC__/game/img/pai/7.png">
<img src="__STATIC__/game/img/pai/8.png">
<img src="__STATIC__/game/img/pai/9.png">
<img src="__STATIC__/game/img/pai/10.png">
<img src="__STATIC__/game/img/pai/11.png">
<img src="__STATIC__/game/img/pai/12.png">
<img src="__STATIC__/game/img/pai/13.png">
<img src="__STATIC__/game/img/pai/14.png">
<img src="__STATIC__/game/img/pai/15.png">
<img src="__STATIC__/game/img/pai/16.png">
<img src="__STATIC__/game/img/pai/17.png">
<img src="__STATIC__/game/img/pai/18.png">
<img src="__STATIC__/game/img/pai/19.png">
<img src="__STATIC__/game/img/pai/20.png">
<img src="__STATIC__/game/img/pai/21.png">
<img src="__STATIC__/game/img/pai/22.png">
<img src="__STATIC__/game/img/pai/23.png">
<img src="__STATIC__/game/img/pai/24.png">
<img src="__STATIC__/game/img/pai/25.png">
<img src="__STATIC__/game/img/pai/26.png">
<img src="__STATIC__/game/img/pai/27.png">
<img src="__STATIC__/game/img/pai/28.png">
<img src="__STATIC__/game/img/pai/29.png">
<img src="__STATIC__/game/img/pai/30.png">
<img src="__STATIC__/game/img/pai/31.png">
<img src="__STATIC__/game/img/pai/32.png">
<img src="__STATIC__/game/img/pai/33.png">
<img src="__STATIC__/game/img/pai/34.png">
<img src="__STATIC__/game/img/pai/35.png">
<img src="__STATIC__/game/img/pai/36.png">
<img src="__STATIC__/game/img/pai/37.png">
<img src="__STATIC__/game/img/pai/38.png">
<img src="__STATIC__/game/img/pai/39.png">
<img src="__STATIC__/game/img/pai/40.png">
<img src="__STATIC__/game/img/pai/41.png">
<img src="__STATIC__/game/img/pai/42.png">
<img src="__STATIC__/game/img/pai/43.png">
<img src="__STATIC__/game/img/pai/44.png">
<img src="__STATIC__/game/img/pai/45.png">
<img src="__STATIC__/game/img/pai/46.png">
<img src="__STATIC__/game/img/pai/47.png">
<img src="__STATIC__/game/img/pai/48.png">
<img src="__STATIC__/game/img/pai/49.png">
<img src="__STATIC__/game/img/pai/50.png">
<img src="__STATIC__/game/img/pai/51.png">
<img src="__STATIC__/game/img/pai/52.png">

<img src="__STATIC__/game/img/niu0.png">
<img src="__STATIC__/game/img/niu1.png">
<img src="__STATIC__/game/img/niu2.png">
<img src="__STATIC__/game/img/niu3.png">
<img src="__STATIC__/game/img/niu4.png">
<img src="__STATIC__/game/img/niu5.png">
<img src="__STATIC__/game/img/niu6.png">
<img src="__STATIC__/game/img/niu7.png">
<img src="__STATIC__/game/img/niu8.png">
<img src="__STATIC__/game/img/niu9.png">
<img src="__STATIC__/game/img/niu10.png">
<img src="__STATIC__/game/img/niu11.png">
<img src="__STATIC__/game/img/niu12.png">
<img src="__STATIC__/game/img/niu13.png"></div>