
 <!-- left side start-->
    <div class="left-side sticky-left-side" id="leftmenu">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="index.html"><img src="__STATIC__/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="__STATIC__/images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="__STATIC__/images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">John Doe</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                  <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                  <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
                  <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <!--<li class="menu-list"><a href="index.html"><i class="fa fa-bookmark"></i> <span>权限管理</span></a>-->
                    <!--<ul class="sub-menu-list">-->
                        <!--<li><a href="{:url('User/index')}">用户管理</a></li>-->
                        <!--<li><a href="{:url('Node/index')}">节点管理</a></li>-->
                        <!--<li><a href="{:url('Role/index')}">角色管理</a></li>-->
                    <!--</ul>-->
                <!--</li>-->

                <!--<li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>订单管理</span></a>-->
                    <!--<ul class="sub-menu-list">-->
                        <!--<li><a href="{:url('Order/index')}">全部订单</a></li>-->
                        <!--<li><a href="{:url('Delivery/index')}"> 发货管理</a></li>-->
                        <!--<li><a href="{:url('Service/index')}"> 售后管理</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="menu-list"><a href=""><i class="fa fa-gift"></i> <span>商品管理</span></a>-->
                    <!--<ul class="sub-menu-list">-->
                        <!--<li><a href="{:url('Product/index')}">全部商品</a></li>-->
                        <!--<li><a href="{:url('Category/index')}">商品分类</a></li>-->
                        <!--<li><a href="{:url('Comment/index')}"> 商品评论</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li class="menu-list"><a href=""><i class="fa fa-user"></i> <span>会员管理</span></a>
                    <ul class="sub-menu-list">
                        <!--<li> <a href="{:url('Level/index')}"> 会员等级</a></li>-->
                        <li><a href="{:url('Member/index')}"> 全部会员</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>红包管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{:url('Redbag/index')}"> 红包管理</a></li>
                        <!--<li><a href="{:url('Article/index')}"> 全部文章</a></li>-->
                    </ul>
                </li>

                <!--<li class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>系统设置</span></a>-->
                    <!--<ul class="sub-menu-list">-->
                        <!--<li><a href="{:url('Config/index')}"> 基本设置</a></li>-->
                        <!--<li><a href="{:url('Pay/index')}"> 支付接口</a></li>-->
                        <!--<li><a href="{:url('Shipping/index')}"> 配送方式</a></li>-->
                        <!--<li><a href="{:url('Nav/index')}"> 导航管理</a></li>-->
                        <!--<li><a href="{:url('Ad/index')}"> 广告管理</a></li>-->
                        <!--<li><a href="{:url('Login/logout')}"> 退出登录</a></li>-->
                    </ul>
                </li>       
            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->