<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>AdminX</title>

  <!--icheck-->
  <link href="__STATIC__/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
  <link href="__STATIC__/js/iCheck/skins/square/square.css" rel="stylesheet">
  <link href="__STATIC__/js/iCheck/skins/square/red.css" rel="stylesheet">
  <link href="__STATIC__/js/iCheck/skins/square/blue.css" rel="stylesheet">
  <link href="__STATIC__/js/iCheck/skins/square/green.css" rel="stylesheet">

  <!--dashboard calendar-->
  <link href="__STATIC__/css/clndr.css" rel="stylesheet">


  <!--common-->
  <link href="__STATIC__/css/style.css" rel="stylesheet">
  <link href="__STATIC__/css/style-responsive.css" rel="stylesheet">

  <link href="__STATIC__/js/dropzone/css/dropzone.css" rel="stylesheet"/>
 

  
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="__STATIC__/js/html5shiv.js"></script>
  <script src="__STATIC__/js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    {include file="public/left"}

    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
       {include file="public/header"}
        <!-- header section end-->