{include file="public/top"}
       <!--body wrapper start-->
  <div class="wrapper">
   <section class="panel">
      <header class="panel-heading">
          增加角色 
        <span class="pull-right">
           <a href="{:url('index')}" class="btn btn-success btn-sm">
           <i class="fa fa-reply"></i> 返回角色列表</a>
        </span>                            
      </header>
                  <div class="panel-body">
                      <form action="{:url('insert')}" class="form-horizontal" method="post">

                          <div class="form-group">
                              <label class="control-label col-md-3">角色名称</label>
                              <div class="col-md-4 col-xs-11">
                                  <input class="form-control form-control-inline input-medium default-date-picker" size="16" type="text" value="" name="name">
                                  
                              </div>
                          </div>
                          
                          
                          <div class="form-group icheck green">               
                          <label class="control-label col-md-3">状态</label>
                              <div class="col-md-4 col-xs-11">
                                <div class="radio list-inline">
                                            
                                            <label><input tabindex="3" type="radio"  name="status" value="1" checked>启用</label>&nbsp;&nbsp;
                                 </div>
                                <div class="radio list-inline">
                                            
                                            <label><input tabindex="3" type="radio"  name="status" value="0">禁用</label>&nbsp;&nbsp;
                                 </div>
                                 
                                
                              </div>
                              </div>
                              <div class="form-group">
                                <label class="control-label col-md-3"></label>
                                <div class="col-md-4 col-xs-11">
                                    <button class="btn btn-success" type="submit"> 保存</button>
                              </div>
                          </div>

                      </form>
                  </div>
              </section>
    </div>
  <!--body wrapper end-->
{include file="public/bottom"}

