{include file="public/top"} 
<!--body wrapper start-->
<div class="wrapper">
  <section class="panel">
    <header class="panel-heading"> 增加权限节点 <span class="pull-right"> <a href="{:url('index')}" class="btn btn-success btn-sm"> <i class="fa fa-reply"></i> 返回节点列表</a> </span> </header>
    <div class="panel-body">
      <form action="{:url('update')}" class="form-horizontal" method="post">
        <input type="hidden" name="id" value="{$info.id}">
        <div class="form-group">
          <label class="control-label col-md-3">节点名称</label>
          <div class="col-md-4 col-xs-11">
            <input class="form-control form-control-inline input-medium default-date-picker" size="16" type="text" value="{$info.name}" name="name">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">显示名称</label>
          <div class="col-md-4 col-xs-11">
            <input class="form-control form-control-inline input-medium default-date-picker" size="16" type="text" value="{$info.title}" name="title">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3">父级</label>
          <div class="col-md-4 col-xs-11">
            <select name="pid" class="form-control">
              <option value="0">选择父节点</option>
              
                                        {volist name="parentlist" id="vo"}
                                        
                                           
              <option {eq name="vo['id']" value="$info['pid']"}selected{/eq} value="{$vo.id}">
              {$vo.title}
              </option>
              
                                            {volist name="vo['sub']" id="svo"}
                                                
              <option {eq name="svo['id']" value="$info['pid']"}selected{/eq} value="{$svo.id}">
              {:getdeepstr($svo['deep'])}{$svo.title}
              </option>
              
                                            {/volist}
                                            
                                        {/volist}
                                    
            </select>
          </div>
        </div>
        <div class="form-group icheck green">
          <label class="control-label col-md-3">级别</label>
          <div class="col-md-4 col-xs-11">
            <div class="radio list-inline">
              <label>
                <input tabindex="3" type="radio" {eq name="info['level']" value="0"}checked{/eq} name="level" value="0" checked>
                应用</label>
              &nbsp;&nbsp; </div>
            <div class="radio list-inline">
              <label>
                <input {eq name="info['level']" value="1"}checked{/eq} tabindex="3" type="radio"  name="level" value="1">
                模块</label>
              &nbsp;&nbsp; </div>
            <div class="radio list-inline">
              <label>
                <input {eq name="info['level']" value="2"}checked{/eq} tabindex="3" type="radio"  name="level" value="2">
                操作</label>
              &nbsp;&nbsp; </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-3"></label>
          <div class="col-md-4 col-xs-11">
            <button class="btn btn-success" type="submit"> 保存</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
<!--body wrapper end--> 
{include file="public/bottom"} 