<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="__STATIC__/index/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- pignose css -->
<link href="__STATIC__/index/css/pignose.layerslider.css" rel="stylesheet" type="text/css" media="all" />
<link href="__STATIC__/index/css/flexslider.css" rel="stylesheet" type="text/css" media="all" />

<!-- //pignose css -->
<link href="__STATIC__/index/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="__STATIC__/index/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- cart -->
	
		
<!-- cart -->
<!-- for bootstrap working -->
	<script type="text/javascript" src="__STATIC__/index/js/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->
<link href='http://fonts.useso.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/html'>
<link href='http://fonts.useso.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/html'>
<script src="__STATIC__/index/js/jquery.easing.min.js"></script>
</head>
<body>

<!-- header-bot -->
<div class="header-bot">
	<div class="container">
		<div class="col-md-3 header-left">
			<h1><a href="index.html"><img src="<?php echo getconfig('logo'); ?>"></a></h1>
		</div>
		<div class="col-md-6 header-middle">
			<form method="get" action="{:url('category/index')}">
				<div class="search">
					<input name="keywords" type="search" placeholder="请输入关键词 " value="">
				</div>
				<div class="section_room">
					<select name="id" id="country" onChange="change_country(this.value)" class="frm-field required">
						<option value="0">所有分类</option>
                        {volist name="categorylist" id="vo"}
						<option value="{$vo.id}">{$vo.title}</option>     
						{/volist}
						
					</select>
				</div>
				<div class="sear-sub">
					<input type="submit" value=" ">
				</div>
				<div class="clearfix"></div>
			</form>
		</div>
		<div class="col-md-3 header-right footer-bottom">
			<ul>
				
				{if condition="$islogin"}
					欢迎您：<a href="{:url('Member/index/index')}">{$memberinfo.nickname}</a>
					
					<a href="{:url('member/Login/regout')}">退出</a>
                    {else/}
                    <li style="float:left; margin-left:50px;"><a href="#" class="use1" data-toggle="modal" data-target="#myModal4"><span>登录</span></a>
					
				</li>
				{/if}
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //header-bot -->
<!-- banner -->
<div class="ban-top">
	<div class="container">
		<div class="top_nav_left">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav menu__list">
                  
                  
                  
                  {volist name="navlist" id="vo"}
                  
					
					
					<li class="dropdown menu__item">
						<a target="{$vo.target}" href="{$vo.link}" class="{notempty name="vo['sub']"}dropdown-toggle {/notempty}menu__link" {notempty name="vo['sub']"}data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"{/notempty}>{$vo.name} {notempty name="vo['sub']"}<span class="caret"></span>{/notempty}</a>
                        
                        
                        {notempty name="vo['sub']"}
                        {volist name="vo['sub']" id="svo"}
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a target="{$svo.target}" href="{$vo.link}">{$svo.name}</a></li>
										</ul>
									</div>
									
									
									<div class="clearfix"></div>
								</div>
							</ul>
                            {/volist} 
                       {/notempty}
					</li>
                    
                    
                    {/volist}
                    
					
				  </ul>
				</div>
			  </div>
			</nav>	
		</div>
		<div class="top_nav_right">
			<div class="cart box_1">
						<a href="{:url('Carts/index')}">
							<h3> <div class="total">
								<i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
								<span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity">0</span>个商品)</div>
								
							</h3>
						</a>
						<p><a href="javascript:;" class="simpleCart_empty">购物车</a></p>
			</div>	
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //banner-top -->
<!-- banner -->