<div style="display: none;"> <img src="__STATIC__/game/img/pai2/1.png">
<img src="__STATIC__/game/img/pai2/2.png">
<img src="__STATIC__/game/img/pai2/3.png">
<img src="__STATIC__/game/img/pai2/4.png">
<img src="__STATIC__/game/img/pai2/5.png">
<img src="__STATIC__/game/img/pai2/6.png">
<img src="__STATIC__/game/img/pai2/7.png">
<img src="__STATIC__/game/img/pai2/8.png">
<img src="__STATIC__/game/img/pai2/9.png">
<img src="__STATIC__/game/img/pai2/10.png">
<img src="__STATIC__/game/img/pai2/11.png">
<img src="__STATIC__/game/img/pai2/12.png">
<img src="__STATIC__/game/img/pai2/13.png">
<img src="__STATIC__/game/img/pai2/14.png">
<img src="__STATIC__/game/img/pai2/15.png">
<img src="__STATIC__/game/img/pai2/16.png">
<img src="__STATIC__/game/img/pai2/17.png">
<img src="__STATIC__/game/img/pai2/18.png">
<img src="__STATIC__/game/img/pai2/19.png">
<img src="__STATIC__/game/img/pai2/20.png">
<img src="__STATIC__/game/img/pai2/21.png">
<img src="__STATIC__/game/img/pai2/22.png">
<img src="__STATIC__/game/img/pai2/23.png">
<img src="__STATIC__/game/img/pai2/24.png">
<img src="__STATIC__/game/img/pai2/25.png">
<img src="__STATIC__/game/img/pai2/26.png">
<img src="__STATIC__/game/img/pai2/27.png">
<img src="__STATIC__/game/img/pai2/28.png">
<img src="__STATIC__/game/img/pai2/29.png">
<img src="__STATIC__/game/img/pai2/30.png">
<img src="__STATIC__/game/img/pai2/31.png">
<img src="__STATIC__/game/img/pai2/32.png">
<img src="__STATIC__/game/img/pai2/33.png">
<img src="__STATIC__/game/img/pai2/34.png">
<img src="__STATIC__/game/img/pai2/35.png">
<img src="__STATIC__/game/img/pai2/36.png">
<img src="__STATIC__/game/img/pai2/37.png">
<img src="__STATIC__/game/img/pai2/38.png">
<img src="__STATIC__/game/img/pai2/39.png">
<img src="__STATIC__/game/img/pai2/40.png">
<img src="__STATIC__/game/img/pai2/41.png">
<img src="__STATIC__/game/img/pai2/42.png">
<img src="__STATIC__/game/img/pai2/43.png">
<img src="__STATIC__/game/img/pai2/44.png">
<img src="__STATIC__/game/img/pai2/45.png">
<img src="__STATIC__/game/img/pai2/46.png">
<img src="__STATIC__/game/img/pai2/47.png">
<img src="__STATIC__/game/img/pai2/48.png">
<img src="__STATIC__/game/img/pai2/49.png">
<img src="__STATIC__/game/img/pai2/50.png">
<img src="__STATIC__/game/img/pai2/51.png">
<img src="__STATIC__/game/img/pai2/52.png">

<img src="__STATIC__/game/img/niu0.png">
<img src="__STATIC__/game/img/niu1.png">
<img src="__STATIC__/game/img/niu2.png">
<img src="__STATIC__/game/img/niu3.png">
<img src="__STATIC__/game/img/niu4.png">
<img src="__STATIC__/game/img/niu5.png">
<img src="__STATIC__/game/img/niu6.png">
<img src="__STATIC__/game/img/niu7.png">
<img src="__STATIC__/game/img/niu8.png">
<img src="__STATIC__/game/img/niu9.png">
<img src="__STATIC__/game/img/niu10.png">
<img src="__STATIC__/game/img/niu11.png">
<img src="__STATIC__/game/img/niu12.png">
<img src="__STATIC__/game/img/niu13.png"></div>