{include file="public/top"}
       <!--body wrapper start-->
  <div class="wrapper">
   <section class="panel">
  <header class="panel-heading">
      发布文章
  <span class="pull-right">
  <a href="{:url('index')}" class="btn btn-success btn-sm">
  <i class="fa fa-reply"></i> 返回文章列表</a>
  </span>                            
  </header>
<div class="panel-body">
  <form action="{:url('insert')}" class="form-horizontal" method="post">
     <div class="form-group">
        <label class="control-label col-md-3">选择分类</label>
        <div class="col-md-4 col-xs-11">
        
        <select name="category_id" class="form-control">
            {volist name="parentlist" id="vo"}
            <option value="{$vo.id}">{$vo.classname}</option>
            {/volist}
            echo 
        </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">文章名称</label>
        <div class="col-md-4 col-xs-11">
            <input class="form-control form-control-inline input-medium default-date-picker" size="16" type="text" value="" name="title">
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-md-3">文章内容</label>
        <div class="col-md-6 col-xs-11">
            {TagLibping:ueditor name="content" id="content" value=""}
        </div>
    </div>
    <div class="form-group icheck green">
        <label class="control-label col-md-3">是否置顶</label>
        <div class="col-md-4 col-xs-11">
          <div class="radio list-inline">
                <label><input tabindex="3" type="radio"  name="is_top" value="1" checked>是</label>&nbsp;&nbsp;
           </div>
          <div class="radio list-inline">
                <label><input tabindex="3" type="radio"  name="is_top" value="0">否</label>&nbsp;&nbsp;
           </div>
        </div>
      </div>
      <div class="form-group icheck green">
          <label class="control-label col-md-3">状态</label>
          <div class="col-md-4 col-xs-11">
            <div class="radio list-inline">
                  <label><input tabindex="3" type="radio"  name="status" value="1" checked>是</label>&nbsp;&nbsp;
             </div>
            <div class="radio list-inline">
                  <label><input tabindex="3" type="radio"  name="status" value="0">否</label>&nbsp;&nbsp;
             </div>
          </div>
        </div>
        <input type="hidden" name="datetime" value="{:time()}">
        <input type="hidden" name="update_time" value="{:time()}">
       <div class="form-group">
            <label class="control-label col-md-3"></label>
            <div class="col-md-4 col-xs-11">
                <button class="btn btn-success" type="submit"> 保存</button>
          </div>
      </div>
  </form>
</div>
</section>
</div>
<!--body wrapper end-->
{include file="public/bottom"}

