{include file="public/top"}
       <!--body wrapper start-->
    <div class="wrapper">
      <div class="panel">
      
      <header class="panel-heading">
          广告管理
       <span class="pull-right"> <a href="{:url('add')}" class="btn btn-success btn-sm">增加广告</a> </span>
     </header>
        <div class="panel-body">
        <table class="table table-hover table-bordered">
        <tbody>
          <thead>
            <th>ID</th>
            <th>标题</th>
           
            <th>图片</th> 
            <th>链接</th>
            <th>操作</th>
          </thead>
          {volist name="list" id="vo"}
          <tr>
            <td>{$vo.id}</td>
            <td>{$vo.title}</td>
            <td><img src="{$vo.img_url}" height="50"></td>

            <td>{$vo.link}</td>
            <td><a onClick="return confirm('您确定要删除吗？');" href="{:url('delete', array('id' => $vo['id']))}" class="btn btn-danger btn-sm">删除</a> <a href="{:url('modify', array('id' => $vo['id']))}" class="btn btn-success btn-sm">修改</a></td>
          </tr>
          {/volist}
          <tr>
            <td colspan="5" align="center">{$pages}</td>
          </tr>
        </tbody>
      </table>
     </div>
    </div>
</div>
        <!--body wrapper end-->
{include file="public/bottom"}
