{include file="public/top"} 
<!--body wrapper start-->
<div class="wrapper">
  <section class="panel">
    <header class="panel-heading"> 回复评论 <span class="pull-right"> <a href="{:url('index')}" class="btn btn-success btn-sm"> <i class="fa fa-reply"></i> 返回评论列表</a> </span> </header>
    <div class="panel-body">
    
    
    
    
    
    
      <form action="{:url('insert')}" class="form-horizontal" method="post">
        <input type="hidden" name="pid" value="{$info.id}">
        <input type="hidden" name="nickname" value="管理员">
        
        {volist name="parentlist" id="vo"}
                                        
                                           <p>{$vo.nickname}:{$vo.comment}</p>
                                            {volist name="vo['sub']" id="svo"}
                                                <p>{$svo.nickname}:{:getdeepstr($svo['deep'], '')}{$svo.comment}</p>
                                            {/volist}
                                            
                                        {/volist}
        
        
        
        <div class="form-group">
          <label class="control-label col-md-3">回复内容</label>
          <div class="col-md-4 col-xs-11">
            <textarea class="form-control form-control-inline input-medium default-date-picker" size="16" type="text" value="" name="comment"></textarea>
          </div>
        </div>
        
        
        
        <div class="form-group icheck green">               
                             <label class="control-label col-md-3">是否显示</label>
                              <div class="col-md-4 col-xs-11">
                                <div class="radio list-inline">    
                                    <label><input tabindex="3" type="radio"  name="status" value="1" {eq name="vo['status']" value="1"}checked{/eq}>是</label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                 </div>
                                 
                                 
                                 <div class="radio list-inline">    
                                    <label><input tabindex="3" type="radio"  name="status" value="0"  {eq name="vo['status']" value="0"}checked{/eq}>否</label>
                                 </div>
                                 
                                 
                              </div>
                            </div>
        
        
        
        <div class="form-group">
          <label class="control-label col-md-3"></label>
          <div class="col-md-4 col-xs-11">
            <button class="btn btn-success" type="submit"> 回复</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
<!--body wrapper end--> 
{include file="public/bottom"} 